body {
  background-color: #fff;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.container > h2 {
  margin: 2rem 2rem 0 2rem;
  text-align: center;
}

.headings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  flex-wrap: nowrap;
}

.headings > h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.headings > h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 50%;
  margin: 1rem 1.5rem;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 1rem;
  width: min(100%, 800px);
}

.main-container > .selection {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-self: center;
  gap: 1rem;
  width: 100%;
}

.main-container > .progress {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
}

.main-container > .start-stop-reset {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

button {
  color: #000;
  cursor: pointer;
  margin: 0;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.selection,
.bg-image-selection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.audios-selection,
.bg-image-selection {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-container > .selection > button > .audios-selection,
.main-container > .start-stop-reset > button {
  width: 200px;
}

.bg-image-selection > div {
  width: 200px;
  height: 200px;
}

.bg-image-selection > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#cancel-button {
  background-color: #d6620a;
  border: 1px solid #000;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0.5rem;
    font-size: small;
  }

  .container > h2 {
    margin: 2rem 0.5rem 0 0.5rem;
    text-align: center;
  }

  .headings {
    margin: 0.5rem;
    font-size: small;
    font-weight: normal;
  }

  .main-container {
    margin: 0.5rem;
  }

  .main-container > .selection > .audios-selection,
  .main-container > .progress,
  .main-container > .start-stop-reset {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}
